<button (click)="square()"  mat-icon-button > <mat-icon>crop_16_9</mat-icon></button>
<button (click)="circle()"  mat-icon-button><mat-icon>radio_button_unchecked</mat-icon></button>
<button (click)="line()" mat-icon-button> <mat-icon>show_chart</mat-icon></button>
<button (click)="free()" mat-icon-button><mat-icon>create</mat-icon></button>
<button (click)="clear()" mat-icon-button><mat-icon>clear</mat-icon></button>
<button (click)="undo()"  mat-icon-button><mat-icon>undo</mat-icon></button>
<button (click)="redo()" mat-icon-button><mat-icon>redo</mat-icon></button>
<div >
  <canvas #canvas style="border:1px solid #444444; "></canvas>
</div>
